<div id="pet-container">
  <div class="pet-card">
    <div id="<%= dom_id @pet %>">
      <img class="pet-photo" src="<%= @pet.photo.attached? ? cl_image_path(@pet.photo.key) : '#' %>" alt="<%= @pet.name %>">
            <div class="pet-attributes">
              <div class="pet-title-box">
              <h1 class="pet-name"><%= @pet.name %></h1> <span><%= @pet.rating %><i class="fa-solid fa-paw"></i></span>
              </div>
              <p><%= @pet.species %></p>
              <p>"<%= @pet.content %>"</p>
              <p><i class="fa-solid fa-location-dot"></i> <%= @pet.address %></p>
              <p><i class="fa-solid fa-euro-sign"></i> <%= @pet.price %>€ la journée</p>
            </div>
    </div>
  </div>

  <div class="reservation-wrapper">
    <div class="form-card">
      <%= simple_form_for [@pet, @reservation] do |f| %>
        <div class="dates-input">
          <%= f.input :start_date, label: 'Date de début', as: :string, input_html: { data: { controller: "datepickr" } } %>
          <%= f.input :end_date, label: 'Date de fin', as: :string, input_html: { data: { controller: "datepickr" } }  %>
        </div>
        <%= f.submit 'Réserver', class: 'reservation-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <div class="map-container">
    <div id="map" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
