<div id="pet-details">
  <div class="pet-card">
    <div id="<%= dom_id @pet %>">
      <img class="pet-photo" src="<%= @pet.photo.attached? ? cl_image_path(@pet.photo.key) : '#' %>" alt="<%= @pet.name %>">
      <h1 class="pet-name"><%= @pet.name %></h1>
      <div class="pet-attributes">
        <p>"<%= @pet.content %>"</p>
        <p><%= @pet.species %></p>
        <p><i class="fa-solid fa-location-dot"></i> <%= @pet.address %></p>
        <p><i class="fa-solid fa-paw"></i> <%= @pet.rating %></p>
        <p><i class="fa-solid fa-euro-sign"></i> <%= @pet.price %>€ la journée</p>
      </div>
    </div>
  </div>

  <div class="reservation-wrapper">
    <div class="form-card">
      <%= simple_form_for [@pet, @reservation] do |f| %>
        <%= f.input :start_date, label: 'Date de début' %>
        <%= f.input :end_date, label: 'Date de fin' %>
        <%= f.submit 'Réserver', class: 'reservation-button' %>
      <% end %>
    </div>
    <%= link_to 'Voir tous les animaux', pets_path, class: 'return-button' %>
  </div>
</div>
