
<div id="<%= dom_id @pet %>">
  <p>

    <strong>Nom:</strong>
    <%= @pet.name %>
  </p>

  <p>

    <strong>Emplacement:</strong>
    <%= @pet.address %>
  </p>

  <p>
    <strong>Paws:</strong>
    <%= @pet.rating %>
  </p>

</div>

<h1><%= @pet.name %></h1>
<% if @pet.photo.attached? %>
  <%= cl_image_tag(@pet.photo.key, width: 300) %>
<% end  %>

<i class="fa-solid fa-map-pin"></i> <%= @pet.address %>
<%= @pet.content %>
<%= @pet.species %>

<i class="fa-solid fa-euro-sign"></i> <%= @pet.price %>
<i class="fa-solid fa-paw"></i> <%= @pet.rating %>

<%= link_to 'Retour aux animaux à louer', pets_path %>

<%= simple_form_for [@pet, @reservation] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit 'Réserver' %>
<% end %>
