<footer class="mt-auto">
  <div class="container2">
    <p class="footer-text">@2023 Team "Not Solo" - All rights reserved</p>
    <ul class="footer-links">
      <li><%= link_to "Confidentialité", "#", class: "footer-link" %></li>
      <li><%= link_to "Conditions générales", "#", class: "footer-link" %></li>
      <li><%= link_to "Plan du site", "#", class: "footer-link" %></li>
      <li><%= link_to "Fonctionnement du site", "#", class: "footer-link" %></li>
      <li><%= link_to "Infos sur l'entreprise", "#", class: "footer-link" %></li>
      <li><%= link_to "Animaux", "#", class: "footer-link" %></li>
    </ul>
  </div>
</footer>
