<footer class="mt-auto" data-controller="footer">
  <div class="container2">
    <p class="footer-text">@2023 Team "Not Solo" - All rights reserved</p>
    <ul class="footer-links">
      <li><%= link_to "Confidentialité", confidentiality_path, class: "footer-link" %></li>
      <li><%= link_to "Conditions générales", terms_path, class: "footer-link" %></li>
      <li><%= link_to "Plan du site", site_map_path, class: "footer-link" %></li>
      <li><%= link_to "Fonctionnement du site", site_operation_path, class: "footer-link" %></li>
      <li><%= link_to "Infos sur l'entreprise", company_info_path, class: "footer-link" %></li>
      <li><%= link_to "Animaux", pets_path, class: "footer-link" %></li>
    </ul>
  </div>
</footer>
