<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="scroll">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("PAC-small.png", class: "logo") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="search-form-container">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Rechercher un animal" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">
      <i class="fa-solid fa-magnifying-glass" style="color: #ea726b;"></i>
    </button>
  </form>
</div>


      <% if user_signed_in? %>
        <%= link_to "Mettre mon animal sur PAK", new_pet_url, class: "nav-link text-center", id:"navhover" %>
        <% else %>
                <%= link_to "Mettre mon animal sur PAK", new_user_session_path, class: "nav-link text-center", id:"navhover" %>

        <% end %>
      <ul class="navbar-nav" id="usernav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://t3.ftcdn.net/jpg/00/26/43/56/360_F_26435684_nI2nmc5VtQ0N3vbBld4DQFGSXN0G54vj.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end rounded-dropdown" aria-labelledby="navbarDropdown">
                <p>Welcome <%= current_user.first_name %>!</p>
                <%= link_to "Mon profil", edit_user_registration_path, class: "nav-link" %>
                <%= link_to "Mes réservations", reservations_path, class: "nav-link" %>
                <%= link_to "Mes animaux", user_pets_path, class: "nav-link" %>
                <%# <%= link_to "Mes réservations", reservations_path class: "nav-link" %>
                <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
              <div class="dropdown-divider"></div>
              <%= link_to "Mettre mon animal sur PAK", new_pet_path, class: "dropdown-item text-center" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user-large" style="color: #ea726b;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end rounded-dropdown" aria-labelledby="navbarDropdown">
              <%= link_to "Se Connecter", new_user_session_path, class: "dropdown-item" %>

                <div class="dropdown-divider"></div>
              <%= link_to "Mettre mon animal sur PAK", new_user_session_path, class: "dropdown-item text-center" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
