<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="scroll">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("PAC-small.png", class: "logo") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="search-form-container">
    <%= form_with url: pets_path, method: 'get', class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "input-search",
      placeholder: "Chercher un animal"
    %>
    <%= button_tag( :class => "btn-search") do %>
      <i class="fa-solid fa-magnifying-glass search-icon" style="color: #ea726b;"></i>
    <% end %>
  <% end %>
</div>


      <% if user_signed_in? %>
        <%= link_to "Mettre mon animal sur PAK", new_pet_url, class: "nav-link text-center" %>
        <% else %>
                <%= link_to "Mettre mon animal sur PAK", new_user_session_path, class: "nav-link text-center" %>

        <% end %>

        <%= link_to pets_path do %>
                <span class="popup" data-popuptext="Les animaux">
        <i class="fa-solid fa-paw icon-navbar" style="color: #ea726b;"></i>
                </span>
        <% end %>
        <%= link_to animaux_autour_path do %>
                <span class="popup" id="geolocate-button" data-popuptext="Près de moi">
        <i class="fa-solid fa-earth-americas icon-navbar" style="color: #ea726b;"></i>
                </span>
        <% end %>
          <ul class="navbar-nav" id="usernav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end rounded-dropdown" aria-labelledby="navbarDropdown">
                <p class="welcome-message" style="color: #ea726b;">Bonjour <strong><%= current_user.first_name %></strong>!</p>
                <%= link_to "Mon profil", edit_user_registration_path, class: "nav-link" %>
                <%= link_to "Mes réservations", user_reservations_path, class: "nav-link" %>
                <%= link_to "Mes animaux", user_pets_path, class: "nav-link" %>
                <%= link_to "Mes demandes", owner_reservations_path, class: "nav-link" %>
                <%= link_to "Messagerie", "#", class: "nav-link" %>
                <em><%= link_to " Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class:'deconnection-message' %></em>
              <div class="dropdown-divider"></div>
              <%= link_to "Mettre mon animal sur PAK", new_pet_path, class: "dropdown-item text-center" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user-large" style="color: #ea726b;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end rounded-dropdown" aria-labelledby="navbarDropdown">
              <%= link_to "Se Connecter", new_user_session_path, class: "dropdown-item" %>

                <div class="dropdown-divider"></div>
              <%= link_to "Mettre mon animal sur PAK", new_user_session_path, class: "dropdown-item text-center" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
