<div class="wrapper">
    <div class="left-images">

  <%= image_tag("https://images.unsplash.com/photo-1604080083676-e37a3528d0b7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2338&q=80", alt: "Renard maltraité", class: "side-image") %>
  <%= image_tag("https://images.unsplash.com/photo-1607636680084-1f4a57018761?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1335&q=80", alt: "Chiens abandonnés", class: "side-image") %>
  <%= image_tag("https://images.unsplash.com/photo-1678906791977-7021926239f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80", alt: "Chiens maltraités", class: "side-image") %>
  </div>
  <div class="animal-awareness-container">
  <h1 class="animal-awareness-title">Protéger nos amis les animaux</h1>
    <p class="animal-awareness-text">
        Les animaux sont des êtres vivants sensibles qui méritent notre respect et notre compassion. Que ce soit nos animaux de compagnie, les animaux de ferme, ou les animaux sauvages, chaque créature a le droit de vivre en sécurité et de bien-être.
    </p>
    <p class="animal-awareness-statistic">Saviez-vous que plus de 100 000 animaux de compagnie sont abandonnés chaque année en France ?</p>

    <h2 class="animal-awareness-subtitle">Pourquoi la protection animale est importante</h2>
    <p class="animal-awareness-text">
        Les animaux jouent un rôle vital dans notre écosystème. Ils contribuent à l'équilibre de la nature et à la diversité biologique. Malheureusement, de nombreux animaux sont menacés par la cruauté, la négligence, la perte d'habitat et le braconnage.
    </p>
    <p class="animal-awareness-statistic">Chaque année, près de 30 000 espèces sont menacées d'extinction.</p>

    <h2 class="animal-awareness-subtitle">Comment vous pouvez aider</h2>
    <p class="animal-awareness-text">
        Il y a de nombreuses façons de contribuer à la protection animale. Vous pouvez adopter des animaux de compagnie dans des refuges, faire des dons à des organisations de protection animale, éviter les produits testés sur les animaux, et sensibiliser les gens autour de vous à la cause animale.
    </p>

    <h2 class="animal-awareness-subtitle">Ensemble pour le bien-être des animaux</h2>
    <p class="animal-awareness-text">
        En prenant soin des animaux et en respectant leur bien-être, nous contribuons non seulement à leur survie, mais aussi à la santé de notre planète. Chaque geste compte. Ensemble, nous pouvons faire une différence.
    </p>
    <p class="animal-awareness-links">Voici quelques organisations auxquelles vous pouvez faire un don :</p>
<ul class="animal-awareness-logos">
  <li>
    <%= link_to "https://www.la-spa.fr/", target: "_blank" do %>
      <%= image_tag("logo-spa-fr.png", alt: "Logo SPA", class: "animal-awareness-logo") %>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.wwf.fr/", target: "_blank" do %>
      <%= image_tag("wwf-logo-fr.svg.png", alt: "Logo WWF", class: "animal-awareness-logo") %>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.fondationbrigittebardot.fr/", target: "_blank" do %>
      <%= image_tag("logo-fondation-brigitte-bardeau.png", alt: "Logo Fondation Brigitte Bardot", class: "animal-awareness-logo") %>
    <% end %>
  </li>
  <li>
    <%= link_to "https://www.lpo.fr/", target: "_blank" do %>
      <%= image_tag("logo-lpo.jpg", alt: "Logo LPO", class: "animal-awareness-logo") %>
    <% end %>
  </li>
</ul>
</div>
  <div class="right-images">

  <%= image_tag("https://images.unsplash.com/reserve/5XnnEP61Rg2ArPQNcQj0_DSCF1787.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80", alt: "tigre maltraitance", class: "side-image") %>
  <%= image_tag("https://images.unsplash.com/photo-1592664858934-40ca080ab56b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80", alt: "chien en cage", class: "side-image") %>
  <%= image_tag("https://images.unsplash.com/photo-1597432480525-6ec382696aed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80", alt: "poules en cage", class: "side-image") %>
  </div>
</div>
