
<div class="login-form-container">
  <div class="form-back d-flex">
    <%= link_to controller: 'reservations', action: 'user_reservations' do %>
      <i class="fa-solid fa-arrow-left icon text-align-left"></i>
    <% end %>
    <h2>Modifier ma réservation avec <%= @reservation.pet.name %></h2>
  </div>

  <%= simple_form_for(@reservation) do |f| %>
    <div class="form-inputs">
      <%= f.input :start_date, label: 'Date de début', as: :string, input_html: { data: { controller: "datepickr" } }, class: 'form-control' %>
      <%= f.input :end_date, label: 'Date de fin', as: :string, input_html: { data: { controller: "datepickr" } }, class: 'form-control' %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Modifier", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<br>
