<h1 id="reservations-title">Mes réservations</h1>

<div class="all-reservations justify-content-center">
  <% @reservations.each do |reservation| %>
      <div class="reservation-container" onclick="window.location.href='<%= pet_path(reservation.pet) %>'">
        <%= cl_image_tag(reservation.pet.photo.key, class:'photo-reservation') %>
        <div class="reservations-infos">
          <div class="reservations-options d-flex justify-content-end">
            <%= link_to controller: 'reservations', action: 'edit', id: reservation.id do %>
              <i class="fa-solid fa-pencil icon"></i>
            <% end %>
            <%= link_to reservation_path(reservation.id), data: { turbo_method: :delete, turbo_confirm: 'Veux-tu vraiment annuler ta réservation? :('} do %>
              <i class="fa-regular fa-circle-xmark icon"></i>
            <% end %>
          </div>
          <div class="name">
            <h2 class= 'link-pet-name'><%= reservation.pet.name %></h2>
          </div>
          <div class="dates">
            <p>du <%=  I18n.l(reservation.start_date, format: "%d %b %Y") %> au <%= I18n.l(reservation.end_date, format: "%d %b %Y") %></p>
          </div>
          <div class="city">
          <p><i class="fa-solid fa-location-dot"></i> <%= reservation.pet.address %></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
