<!DOCTYPE html>
<html>
  <head>
    <title> LouerUnAnimal.Com: Pets and Kibbles</title>
    <link rel="pac-small" type= 'image/png' href="../../assets/images/PAC-small.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta
      name="description"
      content="Le airbnb des animaux de compagnie et sauvages. Un large choix d'animaux à louer pour une journée ou plus. Animation de soirée, shooting photo, cinéma, ..."
    />
        <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <%= favicon_link_tag %>

      <!-- Hotjar Tracking Code for PAK -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:3581653,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  </head>

  <body >
    <%= render 'shared/navbar' %>
      <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>
    <div class="main-content content">
    <%= yield %>
    </div>
    <footer>
    <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
